<%- include('./base/header.ejs') %>
    <section id="about">
        <div class="about-card">
            <img src="images/owner.jpg" alt="Owner Image" class="owner-image">
            <div class="about-content">
                <h3>Laxmi Automobiles - Owner</h3>
                <p><strong>Kali Charan</strong></p>
                <p>I have over 30+ years of hands-on experience in the automobile industry. From repairing bikes to
                    managing large-scale sales operations, I gained extensive knowledge in the two-wheeler market. My
                    passion for bikes and commitment to quality service has earned Laxmi Automobiles a trusted name in
                    the business.</p>
                <p><strong>Specializations:</strong>
                <ul>
                    <li>Two-Wheeler Repair,</li>
                    <li>Customer Service,</li>
                    <li>Sales and Purchases of Old Two-Wheelers,</li>
                    <li>Workshop Management.</li>

                    </p>
                </ul>
                <a href="/contact">
                    <button class="contact-btn"> Contact</button></a>
            </div>
        </div>
    </section>

    <%- include('./base/footer.ejs') %>